%h1 Fields

%table#field_stats.table.table-striped.table-bordered
  %thead
    %tr
      - @stats[0].keys.each do |field|
        %th= field

  %tbody
    - @stats.each do |stat|
      %tr
        - stat.keys.each do |field|
          %td= stat[field]
