%h1 Total Statistics

%table#total_stats.table.table-striped.table-bordered
  %thead
    %tr
      %th Log Time
      %th Number of Users
      %th Number of Caches
      %th Server Load

  %tbody
    - @stats.each do |stat|
      %tr
        %td= stat.log_time
        %td= stat.num_of_users
        %td= stat.num_of_caches
        %td= stat.server_load
