%h1 Courses

%div#settings{:align => "right"}
  =button_to 'Cache Settings', courses_path, :method => :get #this is a placeholder path for now

%table#courses.table.table-striped.table-bordered
  %thead
    %tr
      %th Title
      %th Course Number
      %th University
  %tbody
    - @courses.each do |course|
      %tr
        %td= link_to "#{course.title}", courses_path #this is a placeholder path for now
        %td= course.course_num
        %td= course.university
